body {
    border: 0px;
    margin: 0px
  }
main {
    padding: 16px
  }

footer {
    display: block;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: aqua;
}

img {
    height: 200px
}

nav a {
    display: block;
    border-bottom: 1px solid black;
    color: white;
    background-color: orangered;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;


}

.link1 {
  color: white;
}

.link2 {
  color: cyan;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  text-decoration: none;
}
.grid-container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  rows: auto
  }
  

h3 a {
  color: limegreen;
}

h1 {
  color: green
}

tr:nth-child(2n+3) {
  background-color: lightgray;
}
